<main class="letra">
  <section class="layout w-100">
    <div>
      <img src="assets/img/URGENCIAS.jpg" class="d-block w-100 iLayout" alt="">
    </div>
    <div>
      <h1 class="tLayout">URGENCIAS</h1>
    </div>
  </section>
  <section class="container my-5">
    <div class="d-flex justify-content-center">
      <h1 class="mb-4">TENEMOS ATENCIÓN MÉDICA 24H - URGENCIAS</h1>
    </div>
    <div class="row">
      <div class="col-3">
        <button class="btnVetA btnVet w-100 fs-5" type="button">
          Sede Suba
        </button>
        <button class="btnVetI btnVet w-100 fs-5" type="button">
          Sede Chapinero
        </button>
        <button class="btnVetI btnVet w-100 fs-5" type="button">
          Sede Kennedy
        </button>
        <button class="btnVetI btnVet w-100 fs-5" type="button">
          Sede Soacha
        </button>
      </div>
      <div class="col-9 d-flex justify-content-center">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11085.076663681966!2d-74.0911366649013!3d4.740161511682903!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f84fad5ae2569%3A0x41737088c70fdcfd!2sCentro%20Comercial%20Centro%20Suba!5e0!3m2!1ses-419!2sco!4v1705613991001!5m2!1ses-419!2sco" width="900" height="450" style="border-radius: 25px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <h6>Si prefieres que te ayudemos por llamada, <a class="link text-decoration-none" href="tel:+573052622230">llama aquí.</a></h6>
    </div>
  </section>
  <section class="container my-5">
    <div class="d-flex justify-content-center">
      <h1 class="mb-4">POLIZAS DE SALUD PARA MASCOTAS</h1>
    </div>
    <div class="d-flex justify-content-center">
      <div class="card mx-4" style="width: 18rem;">
        <img src="assets/img/vet1.jpg" class="card-img-top" alt="...">
        <div class="card-body btnVetI">
          <div class="d-flex justify-content-center">
            <h5 class="card-title">MENSUAL BÁSICO:</h5>
          </div>
          <p class="card-text">Orientación veterinaria telefónica

            Emergencias médicas:
            *Consultas médicas.
            *Exámenes Médicos Complementarios.
            *Hospitalizaciones.

            Baño y peluquería luego de la emergencia</p>
          <div class="d-flex justify-content-center">
            <a href="#" class="btnVetA btnEnviar text-decoration-none px-4 py-2 text-black">COTIZAR AHORA</a>
          </div>
        </div>
      </div>
      <div class="card mx-4" style="width: 18rem;">
        <img src="assets/img/vet2.jpg" class="card-img-top" alt="...">
        <div class="card-body btnVetI">
          <div class="d-flex justify-content-center">
            <h5 class="card-title">MENSUAL PRIMIUM:</h5>
          </div>
          <p class="card-text">Orientación veterinaria telefónica

            Emergencias médicas:
            *Consultas médicas.
            *Exámenes Médicos Complementarios.
            *Hospitalizaciones.

            Baño y peluquería luego de la emergencia</p>
          <div class="d-flex justify-content-center">
            <a href="#" class="btnVetA btnEnviar text-decoration-none px-4 py-2 text-black">COTIZAR AHORA</a>
          </div>
        </div>
      </div>
      <div class="card mx-4" style="width: 18rem;">
        <img src="assets/img/vet3.jpg" class="card-img-top" alt="...">
        <div class="card-body btnVetI">
          <div class="d-flex justify-content-center">
            <h5 class="card-title">ANUAL:</h5>
          </div>
          <p class="card-text">Orientación veterinaria telefónica

            Emergencias médicas:
            *Consultas médicas.
            *Exámenes Médicos Complementarios.
            *Hospitalizaciones.

            Baño y peluquería luego de la emergencia</p>
          <div class="d-flex justify-content-center">
            <a href="#" class="btnVetA btnEnviar text-decoration-none px-4 py-2 text-black">COTIZAR AHORA</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
