<main class="letra">
  <section class="layout w-100">
    <div>
      <img src="assets/img/layout 2 tienda.jpg" class="d-block w-100 iLayout" alt="">
    </div>
    <div>
      <h1 class="tLayout">TIENDA</h1>
    </div>
  </section>
  <section class="container my-5">
    <div class="col-12 row">
      <div class="col-5">
        <div class="imgL snaks iTienda d-flex justify-content-center pt-5">
          SNAKS
        </div>
      </div>
      <div class="col-7">
        <div class="imgP medicina iTienda d-flex justify-content-center pt-3">
          MEDICINA
        </div>
        <div class="imgP higiene iTienda d-flex justify-content-center mt-5">
          HIGIENE
        </div>
      </div>
    </div>
    <div class="col-12 row mt-5">
      <div class="col-7">
        <div class="imgP juguetes iTienda ps-4 pt-3">
          JUGUETES
        </div>
        <div class="imgP accesorios iTienda d-flex justify-content-center mt-5">
          ACCESORIOS
        </div>
      </div>
      <div class="col-5">
        <div class="imgL comida iTienda d-flex justify-content-center pt-5">
          COMIDA
        </div>
      </div>
    </div>
  </section>
</main>
