<main class="letra">
  <section>
    <div>
      <img src="assets/img/layout.jpg" class="d-block w-100" alt="...">
      <div class="container text-black d-flex flex-column align-items-center">
        <h5>BIENVENIDO (A) A PET VITALY</h5>
        <p>Encuentra aquí lo que necesites para tu mascota.</p>
      </div>
    </div>
  </section>
  <section>
    <div class="bg-secundario w-100">
      <div class="container d-flex py-5">
        <div class="col-8 d-flex flex-column justify-content-center align-items-center">
          <h3>SERVICIO VETERINARIO</h3>
          <p class="mt-3">En Pet Vitaly, comprendemos la importancia de la conexión entre las personas y sus compañeros peludos. Cada miembro de nuestro equipo comparte una devoción inquebrantable por la salud y el bienestar animal. Desde consultas médicas hasta cirugías especializadas, nuestro compromiso es proporcionar un cuidado personalizado que se adapte a las necesidades individuales de cada paciente.</p>
        </div>
        <div class="col-4 d-flex justify-content-center align-items-center">
          <img src="assets/img/vet.jpg" alt="" class="imgInicio">
        </div>
      </div>
    </div>
    <div class="bg-secundario bg-white w-100">
      <div class="container d-flex py-5">
        <div class="col-4 d-flex justify-content-center align-items-center">
          <img src="assets/img/bañoPeluqueria.jpg" alt="" class="imgInicio">
        </div>
        <div class="col-8 d-flex flex-column justify-content-center align-items-center">
          <h3>BAÑO Y PELUQUERÍA</h3>
          <p class="mt-3">En Pet Vitaly, no solo nos preocupamos por la salud, sino también por el estilo de tus mascotas. En nuestro spa de baño y peluquería, ofrecemos cuidados expertos para que tus amigos de cuatro patas luzcan y se sientan geniales. Cada sesión es una experiencia relajante y amorosa, porque sabemos que una mascota feliz es una mascota radiante. ¡Confía en nosotros para el cuidado completo de tus compañeros peludos!</p>
        </div>
      </div>
    </div>
    <div class="bg-secundario w-100">
      <div class="container d-flex py-5">
        <div class="col-8 d-flex flex-column justify-content-center align-items-center">
          <h3>ADOPCIONES</h3>
          <p class="mt-3">En Pet Vitaly, creemos en encontrar hogares llenos de amor para cada patita. Nuestra sección de adopciones es un lugar donde las historias de amor entre mascotas y sus nuevos dueños comienzan. Cada amigo peludo aquí busca un hogar cálido, y cada adopción es una oportunidad para tejer la trama de una nueva y emocionante amistad. Descubre el compañero perfecto en [Nombre de tu Veterinaria] y da un paso hacia una vida llena de amor y travesuras.</p>
        </div>
        <div class="col-4 d-flex justify-content-center align-items-center">
          <img src="assets/img/adopciones.jpg" alt="" class="imgInicio">
        </div>
      </div>
    </div>
    <div class="bg-secundario bg-white w-100">
      <div class="container d-flex py-5">
        <div class="col-4 d-flex justify-content-center align-items-center">
          <img src="assets/img/tienda.jpg" alt="" class="imgInicio w-75">
        </div>
        <div class="col-8 d-flex flex-column justify-content-center align-items-center">
          <h3>TIENDA</h3>
          <p class="mt-3">Explora la tienda de Pet Vitaly, donde la pasión por los animales se encuentra con la calidad y la diversidad. Desde juguetes hasta delicias saludables, nuestra tienda ofrece una cuidada selección de productos para consentir a tus mascotas. Cada artículo ha sido elegido con amor y experiencia, brindándote acceso a lo mejor para el bienestar y la felicidad de tus amigos peludos. Haz que la vida de tus mascotas sea aún más especial con las opciones de alta calidad que encontrarás en Pet Vitaly.</p>
        </div>
      </div>
    </div>
  </section>
</main>
